<a href="https://colab.research.google.com/github/ganonononon/kaggle_stock/blob/main/python%E3%81%AE%E5%9F%BA%E7%A4%8E%E3%81%A8pandas%E3%82%92%E5%AD%A6%E3%82%93%E3%81%A7%E3%81%84%E3%81%8F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1 + 1

2

In [ ]:
2 ** 3

8

In [ ]:
a = 10
b = 5
a + b

15

In [ ]:
a > b

True

In [ ]:
a = 1
b = "Hello"

In [ ]:
a = 1
print(a)
b = 2
print(b)

1
2

In [ ]:
## int型

type(1)

int

In [ ]:
a = [1, 2, "Hello"]
for i in a:
  print(a)

[1, 2, 'Hello']
[1, 2, 'Hello']
[1, 2, 'Hello']

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
df = sns.load_dataset("titanic")

In [ ]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
df["pclass"].nunique()

3

In [ ]:
df["pclass"].value_counts()

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [ ]:
# locとilocは値を抽出するためのメソッド
#locは行名もしくは列名をすることで特定の値を抽出できます。
#ilocはindexをしてすることで特定の値を抽出できます、行、列を番号で指定します
df.iloc[0]

survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object

In [ ]:
#それぞれのカラムの統計量を見ることができます。
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
df[["survived", "pclass", "age", "sibsp", "parch", "adult_male", "alone"]].groupby('survived').mean()

            pclass        age     sibsp     parch  adult_male     alone
survived
0         2.531876  30.626179  0.553734  0.329690    0.817851  0.681239
1         1.950292  28.343690  0.473684  0.464912    0.257310  0.476608

In [ ]:
df[["survived", "pclass", "age", "sibsp", "parch", "adult_male", "alone"]].groupby('survived').mean()['age']

survived
0    30.626179
1    28.343690
Name: age, dtype: float64

In [ ]:
#ソート
df.sort_values("age")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
803,1,3,male,0.42,0,1,8.5167,C,Third,child,False,NaN,Cherbourg,yes,False
755,1,2,male,0.67,1,1,14.5000,S,Second,child,False,NaN,Southampton,yes,False
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
df.isnull()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [ ]:
#一つでも欠損があるデータの削除
df.dropna()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
df["age"].head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64

In [ ]:
df["age"].fillna(10).head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5    10.0
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64

In [ ]:
#平均値で保管する方法もある
df["age"].fillna(df["age"].mean()).head(10)

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: age, dtype: float64

In [ ]:
#ダミー変数か
pd.get_dummies(df)

,survived,pclass,age,sibsp,parch,fare,adult_male,alone,sex_female,sex_male,...,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton,alive_no,alive_yes
0,0,3,22.0,1,0,7.2500,True,False,False,True,...,False,False,False,False,False,False,False,True,True,False
1,1,1,38.0,1,0,71.2833,False,False,True,False,...,True,False,False,False,False,True,False,False,False,True
2,1,3,26.0,0,0,7.9250,False,True,True,False,...,False,False,False,False,False,False,False,True,False,True
3,1,1,35.0,1,0,53.1000,False,False,True,False,...,True,False,False,False,False,False,False,True,False,True
4,0,3,35.0,0,0,8.0500,True,True,False,True,...,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,True,True,False,True,...,False,False,False,False,False,False,False,True,True,False
887,1,1,19.0,0,0,30.0000,False,True,True,False,...,False,False,False,False,False,False,False,True,False,True
888,0,3,NaN,1,2,23.4500,False,False,True,False,...,False,False,False,False,False,False,False,True,True,False
889,1,1,26.0,0,0,30.0000,True,True,False,True,...,True,False,False,False,False,True,False,False,False,True
890,0,3,32.0,0,0,7.7500,True,True,False,True,...,False,False,False,False,False,False,True,False,True,False

In [ ]:
#相関係数
df[["survived", "pclass", "age", "sibsp", "parch", "adult_male", "alone"]].corr()

,survived,pclass,age,sibsp,parch,adult_male,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,-0.557080,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,0.094035,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.280328,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,-0.253586,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,-0.349943,-0.583398
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,1.000000,0.404744
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,0.404744,1.000000

In [ ]:
 df = df.reset_index()
 df

,level_0,index,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df_a = df[["index","survived"]]
df_b = df[["index","pclass"]]

In [ ]:
#結合　indexをkeyにしてinner join
pd.merge(df_a, df_b, on="index", how="inner")

     index  survived  pclass
0        0         0       3
1        1         1       1
2        2         1       3
3        3         1       1
4        4         0       3
..     ...       ...     ...
886    886         0       2
887    887         1       1
888    888         0       3
889    889         1       1
890    890         0       3

[891 rows x 3 columns]

In [ ]:
#１が横の結合　０が縦の結合
pd.concat([df_a, df_b],axis= 1)

     index  survived  index  pclass
0        0         0      0       3
1        1         1      1       1
2        2         1      2       3
3        3         1      3       1
4        4         0      4       3
..     ...       ...    ...     ...
886    886         0    886       2
887    887         1    887       1
888    888         0    888       3
889    889         1    889       1
890    890         0    890       3

[891 rows x 4 columns]